/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .logo h1 {
    color: #fff;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  nav ul li:hover .dropdown-menu {
    display: block;
  }
  
  nav ul li .dropdown-menu li {
    display: block;
  }
  
  nav ul li .dropdown-menu li a {
    padding: 10px 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    margin-top: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  .custom-section {
    height: 23vh;
    background: #e8af59;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }
  
  .custom-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .custom-section p {
    font-size: 24px;
  }
  
  
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .first h1 {
    font-size: 35px;
    font-weight: bold;
  }

  .features-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-1 {
    flex: 1;
    height: 50vh;
    background: linear-gradient(to bottom, rgb(150, 148, 147) 50%, rgb(208, 177, 123) 50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  
  .image-1 img {
    max-width: 110%;
    max-height: 90%;
  }
  
  .features-section .feature {
    flex: 1;
    height: 50vh;
    background: linear-gradient(to bottom, hwb(27 31% 40%) 50%,  rgb(150, 148, 147) 50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  
  .features-section .feature h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .features-section .feature p {
    font-size: 30px;
    font-weight: bold;
  }
  
  .features-section .feature button {
    background-color:transparent;
    border: none;
    margin-bottom: 10px;
    padding: 1;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-align: left;
  }
  
  .features-section .feature p {
    font-size: 20px;
    display: none;
    font-weight: bold;
  }
  
  .features-section .feature button:hover {
    display: none; /* Hide the <button> element on hover */
  }
  
  .features-section .feature button:hover + p {
    display: block; /* Show the <p> tag on button hover */
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .second h1 {
    font-size: 35px;
    font-weight: bold;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .beni {
    flex: 1;
    height: 50vh;
    background: linear-gradient(to bottom, hwb(27 31% 40%) 50%,  rgb(150, 148, 147) 50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  
  .container .beni h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .container .beni p {
    font-size: 30px;
    font-weight: bold;
  }
  
  .container .beni button {
    background-color:transparent;
    border: none;
    margin-bottom: 10px;
    padding: 1;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-align: left;
  }
  
  .container .beni p {
    font-size: 20px;
    display: none;
    font-weight: bold;
  }
  
  .container .beni button:hover {
    display: none; /* Hide the <button> element on hover */
  }
  
  .container .beni button:hover + p {
    display: block; /* Show the <p> tag on button hover */
  }
  
  .image-2 {
    flex: 1;
    height: 50vh;
    background: linear-gradient(to bottom, rgb(150, 148, 147) 50%, rgb(208, 177, 123) 50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  
  .image-2 img {
    max-width: 110%;
    max-height: 90%;
  }
  
  footer {
    background: hsl(36, 76%, 90%);
    padding: 30px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-content a {
    font-size: 14px;
    text-decoration: none;
    color: #666;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  
  
  
  

  
  
  
  
  


  
  
 /*registration css*/
 .registration {
    margin: 40px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  .registration form {
    margin-bottom: 40px;
  }
  
  .registration label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .registration input[type="text"],
  .registration input[type="email"],
  .registration input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration button[type="submit"] {
    background-color: hwb(37 5% 58%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
  }
  
  .registration button[type="submit"]:hover {
    background-color: #555;
  }
  
  .registration p {
    margin-top: 10px;
  }
  
  .registration a {
    color: hsl(0, 58%, 17%);
    text-decoration: none;
  }
  
  .registration a:hover {
    text-decoration: underline;
  }
 
  /*for login*/
  .entry-section {
    margin: 40px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  .entry-section form {
    margin-bottom: 40px;
  }
  
  .entry-section label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .entry-section input[type="email"],
  .entry-section input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .entry-section button[type="submit"] {
    background-color: hwb(37 5% 58%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .entry-section button[type="submit"]:hover {
    background-color: #555;
  }
  
  .entry-section p {
    margin-top: 10px;
  }
  
  .entry-section a {
    color: hsl(0, 58%, 17%);
    text-decoration: none;
  }
  
  .entry-section a:hover {
    text-decoration: underline;
  }
  
  /*candidate search css*/
  .candidate-search {
    margin: 40px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  .candidate-search form {
    margin-bottom: 40px;
  }
  
  .candidate-search label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .candidate-search input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .candidate-search button[type="button"] {
    background-color: hwb(37 5% 58%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .candidate-search button[type="button"]:hover {
    background-color: #555;
  }
  
  .fetch-candidate {
    margin: 40px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 0px;
    border-radius: 4px;
  }
  
  .fetch-candidate h3 {
    margin-bottom: 5px;
    font-weight: bold;
  }


  
  